---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-dpl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: proxy
        image: nginx
        ports:
          - containerPort: 80
        volumeMounts:
        - name: nginx-conf-vol
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf
      volumes:
      - name: nginx-conf-vol
        configMap:
          name: nginx-configmap

---
apiVersion: v1
kind: Service
metadata:
  name: proxy-service
spec:
  selector:
    app: nginx
  ports:
    - port: 80
      targetPort: 80
  type: ClusterIP
